@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Moontime";
    font-weight: 900;
    src: url("../fonts/moontime-regular.ttf");
  }
}

:root {
  margin: 0;
  font-family: Montserrat;
  font-size: 14pt;
  width: 100vw;
}
